:root {
    --font-family-philosopher: 'Philosopher', sans-serif;
    --font-family-poiret: 'Poiret One', cursive;
    --font-family-spartan: 'Spartan', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: var(--font-family-philosopher);
}

body {
    background: rgb(163, 163, 163);
}

.img__container {
    /* border: 1px solid red; */
    margin: 0 15%;
    margin-top: 8%;
}

.card {
    background: rgb(163, 163, 163);
    border: 1px solid #000;
    box-shadow: 0 0 30px 1px #000;
    transition: all .7s ease-in-out;
}

.card:hover {
    transform: scale(1.06);
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 2em;
}

.nav__container {
    text-transform: uppercase;
    box-shadow: 0 0 40px 10px #fff;
}

.nav-item {
    margin: 0 15px;
}

.btn {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.search{ 
    margin-top: 40px;
    width: 25%;
}

.btn__search {
    margin-top: 8px;
    margin-left: 115px;
}

.btn:hover {
    opacity: 0.8;
}