*{
    margin: 5px;
    padding: 0;
    background-color: #000;
}

body{
    color: #fff;
}

.nav__container{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav__container a{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px 13px;
}
    

.nav__container a:hover{
    box-shadow: 0 0px 30px 0px #fff;   
}

body #section{
    border: 2px solid #fff;
    border-radius: 8px 25px 8px 40px;
    box-shadow: 18px 16px 40px 5px rgba(5,0,255,0.84);
    -webkit-box-shadow: 18px 16px 16px 5px rgba(5,0,255,0.84);
    -moz-box-shadow: 18px 16px 16px 5px rgba(5,0,255,0.84);
    margin: 40px 25px;
    padding-bottom: 100px;
}

body #section:hover{
    border: 3px solid #fff;
    box-shadow: 18px 16px 40px 3px rgb(21, 17, 252);
}

body .title{
    text-align: center;
}

body .title h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px -5px 4px rgba(12,0,233,0.74);
}

body .title p{
    font-size: 25px;
    font-family: 'Uchen', serif;
    font-style: italic;
}

#section .div__datos{
    font-family: 'Uchen', serif;
    margin: 10px 30px;
}

#section .div__datos b{
    font-family: 'Otomanopee One', sans-serif;
    color: #0024FF;
}

#section .div__datos ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
}

.series{
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 20px 450px;
}

.series:hover{
    border: 2px solid #0024FF;
}

.series h2{
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
    color: #0024FF;
    font-size: 30px;
}

.series ul li{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.expectativas h2{
    font-family: 'Otomanopee One', sans-serif;
    color: #0024FF;
    font-size: 33px;
    margin: 10px 40px;
}

.expectativas ol{
    padding: 2px 70px;
}

.expectativas ol .expectativas1{
    font-family: 'Uchen', serif;
    padding-bottom: 25px;
    border-bottom: 10px double #000af5;
}

.expectativas ol .expectativas2{
    font-family: 'Uchen', serif;
    padding-top: 25px;
}